body {
	padding-top: 3vh;
}

div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#aside {
	position: absolute;
	top: 3vh;
	right: 0;
	height: 96vh;
	width: 20vw;
	border: 1px solid black;
}

#alert {
	position: absolute;
	height: 20vh;
	width: 60vw;
	left: 20vw;
	top: -20vw;
	font-size: 5vh;
	transition: top 500ms ease-in-out;
	background-color: #555;
	color: white;
	font-weight: bolder;
}

#best-score {
	display: inline;
	position: absolute;
	top: 3vh;
	left: 0;
	width: 20vw;
	height: 4rem;
	font-size: 1.5rem;
	border: 1px solid black;
}

#timer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 3vh;
	background-color: red;
}

canvas {
	margin: 0;
	border: 1px solid black;
}

#main button {
	margin: 0.5em;
	width: calc(min(50vw, 70vh));
	height: 5em;
	background-color: #fff;
	outline: none;
}

#main button:hover {
	background-color: #aaa;
}

#main button:active {
	background-color: #555;
}

#hard-mode-chance-label {
	color: #999999;
}
